/* FACULTY DESIGN */

.main_head {
    font-size: 50px;
    font-weight: bolder;
    color: #000080;
    text-align: center;
    margin-bottom: 30px;
}

.fac {
    display: inline-block;
    position: relative;
    width: 150px;
    min-width: 230px;
    height: 270px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    margin: 8px;
    margin-left: 1px;
}

.fac1 {
    display: inline-block;
    position: relative;
    width: 180px;
    min-width: 270px;
    height: 270px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    margin: 8px;
    margin-left: 20px;
}

.Fac-img {
    height: 70%;
    width: 100%;
}

.Fac-img1 {
    height: 70%;
    width: 100%;
}

.fac-description-bk {
    background-image: linear-gradient(0deg, #3f5efb, #fc466b);
    border-radius: 30px;
    position: absolute;
    top: 55%;
    left: -5px;
    height: 65%;
    width: 108%;
    transform: skew(19deg, -9deg);
}


/* .hero-logo {
    height: 80px;
    width: 80px;
    border-radius: 20px;
    background-color: #fff;
    position: absolute;
    bottom: 30%;
    left: 30px;
    overflow:hidden;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.7);
  }
  
  .hero-logo img {
    height: 100%;
  } */

.Fac-description {
    position: absolute;
    color: #fff;
    font-weight: 900;
    left: 50px;
    bottom: 24%;
}

.Fac-description1 {
    position: absolute;
    color: #fff;
    font-weight: 900;
    left: 50px;
    bottom: 10%;
}

.fac-btn {
    position: absolute;
    color: #fff;
    margin-left: 30%;
    bottom: 5%;
    padding: 5px 10px;
    border: 1px solid #fff;
}

.fac-btn a {
    color: #fff;
}


/* END CARD DESIGN */

.btn i:before {
    width: 14px;
    height: 14px;
    position: fixed;
    color: #fff;
    background: #0077B5;
    padding: 10px;
    border-radius: 50%;
    top: 5px;
    right: 5px;
}