.App {
  text-align: center;
}

.main_header{
background-color: #E3E5C7;
display: flex;
height: 120px;
padding: 5px;
}
.logo{
  width: 100px;
  height: 100px;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
}
.header1{
  margin-left: 35px;
  color: #000080;
  margin-top: 15px;
}
.college_name{
  font-size: xx-large;
}
.header3{
  color:#F80CA7;
}
.header2{
  margin-bottom: 12px;
  margin-top: 5px;
}

