@import url('https://cdn.syncfusion.com/ej2/material.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.App {
  text-align: center;
}
.main_header{
height: 120px;
padding: 0px;
}
.logo{
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-top: 5px;
  margin-right: 15px;
}
.header1{
  margin-left: 35px;
  color: #000080;
  margin-top: 5px;
  font-family: 'Roboto Slab',serif;
}
.college_name{
  font-size: xx-large;
}
.header3{
  color:#F80CA7;
  font-weight: 600;
  font-size: small;
}
.header2{
}
.icons{
  font-size: x-large;
  margin-left: 55px;
  display: flex;

  margin-top: 15px;

}
.instagram {
  padding: 6px;
}
.fa-instagram{
  color: #c32aa3;
  margin-left: 8px;
}
.fa-instagram:hover {
  font-size: xx-large;
}
.twitter {
  padding: 6px;
}
.fa-twitter{
  margin-left: 8px;
  color: #1da1f2;
}
.fa-twitter:hover {
  font-size: xx-large;
  
}
.facebook {
  margin-left: 180px;
  padding: 6px;
}
.fa-facebook {
  color:#1877f2;
}
.fa-facebook:hover {
  font-size: xx-large;
}
.linkedin {
  margin-left: 8px;
  padding: 6px;
}
.fa-linkedin {
  color: #0a66c2;
}
.fa-linkedin:hover {
  font-size: xx-large;
}

.main_bull{
  display: flex;
  margin-left: -8px;
  margin-top: 8px;
}

.name1{
  display: block;
  background-color: #06283D;
  color: white;
  padding: 7px;
  padding-left: 15px;
  padding-right: 16px;
  
}
.triangle{
  width: 0; 
  height: 0; 
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  
  border-left: 16px solid #06283D;
}
.bulletin_content{
  width: 100%;
  background-color: white;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header{
    float: none;
    display: block;
    text-align: left;
  }
  .icons {
    float: none;
  }
}

/* Temporary css */

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
.nav-item,
.navbar {
  z-index: 10000;
}
@media  screen and (max-width:800px) {
  .sidebar{
    z-index: 10000000;
  }
}

.e-dlg-center-center, .e-quick-popup-wrapper.e-device{
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* color-picker style  */

 #preview {
  background: transparent
    url('https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png')
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}

.e-input-group:not(.e-float-icon-left), .e-input-group.e-success:not(.e-float-icon-left), .e-input-group.e-warning:not(.e-float-icon-left), .e-input-group.e-error:not(.e-float-icon-left), .e-input-group.e-control-wrapper:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left){
  border: none;
}