.small{
width: 89%;
background-color: #000080;

}

table{
    background-color: aliceblue;
    color: #000800;

}

th{
    background-color: #b5b5b3;
    
}

.main{
    position: relative;
    margin-top: 20px;
    margin-left: 12px;
}

.small{
    position: absolute;
    margin-top: 32px;
    margin-left:100px ;
    border-radius: 2px;
    color: white;

}

