
table{
    background-color: aliceblue;
    color: #000800;

}

th{
    background-color: #e5e7eb;
    
}

.small{
    border-radius: 5px;
    color: white;
    width: 73%;
    background-color: #000080;
}

