.date{
    margin-top: 10px;
}

.main_con{
display: flex;
position:relative;
background-color: goldenrod;
width: 70%;
height:88px ;
margin: 22px;
border-radius: 10px;
margin-left: 380px;
/* margin-right: 100px; */
top: -670px;

}

.txt{
position: absolute;
margin-top: 25px;
margin-left: 100px;
font-size: 20px;
}

.main_div{
position: absolute;
}