.main_div {
    background-color: #fff;
    display: flex;
    width: 100%;
    height: 460px;
}

.small_box1 {
    position: relative;
    width: 100%;
    /* height: 100px; */
    /* margin: 12px; */
    margin-bottom: 12px;
    margin-top: 15px;
align-items: center;
display: flex;
justify-content: center;


}

.small_box2 {
    position: relative;
    display: flex;
    width: 15%;
    height: auto;
    padding: 15px;
    opacity: 1;
    /* margin-left: -5px; */
    margin-right: 250px;
    font-weight: 600;
    color: #111;
    font-size: 40px;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1352px){


    .small_box2 {
        position: relative;
        /* display: flex;
        flex-direction:row; */
        width: 100%;
        font-weight: 600;
        font-size: 35px;
        padding: 5px;
        margin: 1px;
    }


    .small_box1 {
        position: relative;
        width: 100%;
        margin: 1px;
        /* margin-top: 25px; */

    }

    .main_div {
        background-color: #fff;
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: fit-content;
    }
    

}