.main_com{
    margin-left: 380px;
}

.com{
    padding: 15px;
    margin-top: 30px;
    margin-left: 60px;
    margin-bottom: 40px;
}

.int {
    margin-top: 20px;
    padding: 5px;

}

.int:hover{
    color: red;
    font-size: 17px;
}

.field{
color: #000080;
font-size: xx-large;
font-weight: 300;
text-decoration: solid;

}