.btn {
    background-color: #000080; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
  }
  
  td:hover{
    color: black;
    font-style: normal;
  }
  .btn:hover{
    background-color: white;
    color: #000080;
    border:2px groove #000080;
  }
  .stop{
    /* height: 1%; */
    white-space: nowrap;
  }
  .row{
    width: 10%;
    white-space: nowrap;
  }